In [275]:
import pandas as pd
import numpy as np
import pygal_maps_world as pa

In [200]:
data = pd.read_csv('GSAF5.csv')
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [201]:
null_cols = data.notnull().sum()
null_cols

Case Number               5992
Date                      5992
Year                      5992
Type                      5992
Country                   5949
Area                      5590
Location                  5496
Activity                  5465
Name                      5792
Sex                       5425
Age                       3311
Injury                    5965
Fatal (Y/N)               5973
Time                      2779
Species                   3058
Investigator or Source    5977
pdf                       5992
href formula              5991
href                      5989
Case Number.1             5992
Case Number.2             5992
original order            5992
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [202]:
data=data.drop(['Unnamed: 22','Unnamed: 23', 'pdf', 'href formula', 'href'], axis=1)
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989

In [203]:
data_country=data.groupby('Country').count()
data_country
# print(max_country)

,Case Number,Date,Year,Type,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
Country,,,,,,,,,,,,,,,,,,
PHILIPPINES,1,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1,1,1
TONGA,3,3,3,3,3,3,3,3,3,1,3,3,0,2,3,3,3,3
ADMIRALTY ISLANDS,1,1,1,1,1,1,0,1,1,1,1,1,0,0,1,1,1,1
ALGERIA,1,1,1,1,0,1,1,1,1,0,1,1,0,0,1,1,1,1
AMERICAN SAMOA,3,3,3,3,3,3,3,3,3,3,3,3,2,2,3,3,3,3
ANDAMAN / NICOBAR ISLANDAS,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1
ANGOLA,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1,1,1,1
ANTIGUA,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
ARGENTINA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ARUBA,1,1,1,1,0,1,1,1,1,1,1,1,0,0,1,1,1,1
ASIA?,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1
ATLANTIC OCEAN,16,16,16,16,6,2,15,14,12,5,16,15,1,5,16,16,16,16
AUSTRALIA,1279,1279,1279,1279,1265,1236,1158,1263,1136,686,1273,1278,551,686,1278,1279,1279,1279
AZORES,5,5,5,5,0,3,3,4,3,1,5,5,0,1,5,5,5,5
BAHAMAS,98,98,98,98,75,74,93,98,96,63,98,98,45,68,97,98,98,98
BAHREIN,1,1,1,1,0,0,1,1,1,0,1,1,0,1,1,1,1,1
BANGLADESH,1,1,1,1,1,0,1,0,0,0,1,1,0,0,1,1,1,1
BARBADOS,5,5,5,5,4,4,5,5,4,2,5,5,1,0,5,5,5,5
BAY OF BENGAL,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1
BELIZE,3,3,3,3,1,1,3,3,3,2,3,3,0,2,3,3,3,3
BERMUDA,16,16,16,16,10,11,13,14,12,8,16,15,6,7,15,16,16,16
BRAZIL,102,102,102,102,96,98,93,97,88,57,100,102,39,29,102,102,102,102
BRITISH ISLES,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
BRITISH NEW GUINEA,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,1
BRITISH VIRGIN ISLANDS,1,1,1,1,1,0,1,1,1,1,1,1,0,0,1,1,1,1
BRITISH WEST INDIES,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
BURMA,4,4,4,4,2,2,4,4,4,0,4,4,0,0,4,4,4,4
Between PORTUGAL & INDIA,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1
CANADA,10,10,10,10,10,10,10,10,8,2,10,10,1,8,10,10,10,10
CAPE VERDE,3,3,3,3,3,2,1,3,3,2,3,3,0,2,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ST. MARTIN,1,1,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,1
SUDAN,4,4,4,4,4,2,4,3,4,0,4,4,1,2,4,4,4,4
SUDAN?,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1,1,1
SWEDEN,1,1,1,1,1,1,0,1,1,0,0,1,0,0,1,1,1,1
SYRIA,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1
Seychelles,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
Sierra Leone,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
St Helena,1,1,1,1,0,1,1,1,1,0,1,1,0,0,1,1,1,1
TAIWAN,9,9,9,9,7,8,9,9,9,7,9,9,5,5,9,9,9,9
TANZANIA,8,8,8,8,2,7,8,4,4,2,8,8,1,6,8,8,8,8
TASMAN SEA,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1,1,1
THAILAND,6,6,6,6,4,4,5,6,5,5,6,6,1,3,6,6,6,6
THE BALKANS,1,1,1,1,1,1,1,1,1,0,1,1,1,0,1,1,1,1
TONGA,15,15,15,15,14,11,15,15,14,8,15,15,7,7,15,15,15,15
TRINIDAD & TOBAGO,3,3,3,3,3,2,3,3,3,2,3,3,0,1,3,3,3,3
TUNISIA,3,3,3,3,2,2,3,3,2,0,3,3,0,1,3,3,3,3
TURKEY,12,12,12,12,7,11,10,12,10,2,12,11,1,1,12,12,12,12
TURKS & CAICOS,5,5,5,5,4,3,5,5,4,3,5,5,3,2,5,5,5,5
TUVALU,1,1,1,1,0,1,1,0,0,0,1,1,1,0,1,1,1,1
UNITED ARAB EMIRATES,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
UNITED ARAB EMIRATES (UAE),2,2,2,2,2,2,2,2,2,2,2,2,1,0,2,2,2,2
UNITED KINGDOM,10,10,10,10,10,9,10,9,9,5,10,10,1,7,10,10,10,10
URUGUAY,3,3,3,3,3,3,3,2,2,1,3,3,0,1,3,3,3,3
USA,2116,2116,2116,2116,2113,2074,1991,2087,2016,1436,2111,2114,1308,1206,2109,2116,2116,2116
VANUATU,14,14,14,14,14,14,10,13,13,5,14,14,3,4,14,14,14,14
VENEZUELA,11,11,11,11,7,6,9,11,11,4,11,11,4,4,11,11,11,11
VIETNAM,14,14,14,14,10,11,11,13,14,6,14,14,6,4,14,14,14,14
WESTERN SAMOA,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
YEMEN,2,2,2,2,2,2,2,2,1,0,2,2,1,1,2,2,2,2
YEMEN,7,7,7,7,7,4,7,7,6,2,6,7,1,0,7,7,7,7

In [86]:
# data['Case Number'] = np.where(data['Country']=='USA')
# print([q for i in list(data_country.values) for q in i])

In [204]:
data_country[data_country['Case Number'] >500]

,Case Number,Date,Year,Type,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
Country,,,,,,,,,,,,,,,,,,
AUSTRALIA,1279,1279,1279,1279,1265,1236,1158,1263,1136,686,1273,1278,551,686,1278,1279,1279,1279
SOUTH AFRICA,565,565,565,565,560,557,521,553,501,356,564,565,340,371,563,565,565,565
USA,2116,2116,2116,2116,2113,2074,1991,2087,2016,1436,2111,2114,1308,1206,2109,2116,2116,2116

In [205]:
data_good_country=data[(data['Country'] == 'USA') | (data['Country'] == 'AUSTRALIA') | (data['Country'] == 'SOUTH AFRICA') ]
data_good_country.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989

In [206]:
data_area=data_good_country.groupby('Area').count()
data_area

,Case Number,Date,Year,Type,Country,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
Area,,,,,,,,,,,,,,,,,,
New Jersey,1,1,1,1,1,1,0,1,1,0,1,1,0,1,1,1,1,1
North Carolina,1,1,1,1,1,1,0,1,0,0,1,1,0,0,1,1,1,1
Alabama,14,14,14,14,14,14,13,14,13,10,14,14,6,6,14,14,14,14
Alaska,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
California,276,276,276,276,276,275,265,273,259,182,275,276,186,224,276,276,276,276
Connecticut,6,6,6,6,6,6,6,5,4,1,6,6,1,0,6,6,6,6
Delaware,7,7,7,7,7,7,7,7,7,4,7,7,4,5,7,7,7,7
East coast,1,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1,1,1
Eastern Cape Province,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1
Eastern Cape Province,156,156,156,156,156,156,148,152,149,110,156,156,103,99,155,156,156,156
Eastern Province,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1,1,1
Florida,990,990,990,990,990,979,931,978,955,787,987,990,682,522,984,990,990,990
Florida,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
Georgia,13,13,13,13,13,12,13,13,13,10,13,13,5,3,13,13,13,13
Guam,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Hawaii,282,282,282,282,282,275,270,279,267,131,282,281,165,165,282,282,282,282
Illinois,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
Johnston Atoll,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1
Kentucky,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1
KwaZulu-Natal,210,210,210,210,210,208,188,205,199,136,209,210,127,115,210,210,210,210
KwaZulu-Natal between Port Edward and Port St Johns,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Louisiana,11,11,11,11,11,10,11,11,10,6,11,11,4,7,11,11,11,11
Maine,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Maryland,7,7,7,7,7,7,7,7,6,4,7,7,2,3,7,7,7,7
Massachusetts,11,11,11,11,11,11,11,11,9,8,11,11,5,8,11,11,11,11
Midway Atoll,1,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1,1,1
Mississippi,5,5,5,5,5,5,5,5,5,3,5,5,0,4,5,5,5,5
Missouri,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
New Jersey,49,49,49,49,49,49,45,46,43,18,49,49,16,20,49,49,49,49
New Mexico,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
North & South Carolina,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1,1,1,1
North Carolina,100,100,100,100,100,99,95,98,93,72,100,100,59,56,100,100,100,100
North Carolina,2,2,2,2,2,2,2,2,2,1,2,2,0,1,2,2,2,2
Northern Territory,23,23,23,23,23,23,20,22,22,10,23,23,1,8,23,23,23,23
Oregon,28,28,28,28,28,27,28,28,28,24,28,28,23,24,28,28,28,28
Palmyra Atoll,2,2,2,2,2,0,2,2,2,2,2,2,1,1,2,2,2,2
Pennsylvania,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,1
Puerto Rico,16,16,16,16,16,13,12,16,14,8,16,16,9,4,16,16,16,16
Queensland,300,300,300,300,300,297,264,297,276,183,298,300,133,143,299,300,300,300
Queensland,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Rhode Island,7,7,7,7,7,6,7,7,5,2,7,7,2,3,7,7,7,7
South Atlantic Ocean,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1,1,1
South Australia,103,103,103,103,103,102,96,100,79,54,102,103,48,77,103,103,103,103
South Carolina,144,144,144,144,144,139,124,142,140,88,143,143,70,74,144,144,144,144
South Carolina,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Tasmania,41,41,41,41,41,38,39,41,33,19,41,41,15,23,41,41,41,41
Territory of Cocos (Keeling) Islands,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Texas,71,71,71,71,71,70,66,70,70,43,71,71,39,36,71,71,71,71
Torres Strait,70,70,70,70,70,58,64,68,68,18,70,70,4,22,70,70,70,70
Torres Strait,2,2,2,2,2,2,2,2,2,1,2,2,0,2,2,2,2,2
Transvaal,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
US Virgin Islands,5,5,5,5,5,5,5,5,5,4,5,5,2,4,5,5,5,5
Victoria,81,81,81,81,81,80,76,81,73,40,81,81,32,47,81,81,81,81
Victoria,2,2,2,2,2,2,2,2,2,1,2,2,1,1,2,2,2,2
Virginia,19,19,19,19,19,19,19,19,19,8,19,19,6,10,18,19,19,19
Wake Island,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
Washington,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
Western Australia,172,172,172,172,172,169,154,169,146,83,171,172,78,105,172,172,172,172
Western Cape Province,188,188,188,188,188,187,175,185,143,105,188,188,107,151,187,188,188,188
Western Province,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [207]:
areas=[i for i in data_area[data_area['Case Number'] >100].transpose()]
# data_area_usa=data_area_usa[(data_area_usa['Country'] == 'USA') | (data_area_usa['Country'] == 'AUSTRALIA') | (data['Country'] == 'SOUTH AFRICA') ]
print(areas)

['California', 'Eastern Cape Province', 'Florida', 'Hawaii', 'KwaZulu-Natal', 'New South Wales', 'Queensland', 'South Australia', 'South Carolina', 'Western Australia', 'Western Cape Province']

In [208]:
# data_good_country.drop(data_good_country[(data_good_country.Area != 'Florida') & (data_good_country.Area != 'California')].index)
# res=''
# for k,i in enumerate(areas):
#     if k != 0:
#         res+=' & '
#     res+='(data_good_country.Area != ' + '\''+ i +'\'' +')'
# print (res)
data_country_area=data_good_country.drop(data_good_country[(~data_good_country.Area.isin(areas))].index)
data_country_area

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R,2016.09.15.R,5988
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11,2016.09.11,5987
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07,2016.09.07,5986
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF",2016.09.05.b,2016.09.05.b,5984
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,NaN,"No inury, board broken in half by shark",N,Late afternoon,NaN,"Perth Now, 9/5/2016",2016.09.05.a,2016.09.05.a,5983
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,9,Foot bitten,N,NaN,NaN,"Orlando Sentinel, 9/7/2016",2016.09.04,2016.09.04,5982
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,22,Two toes broken & lacerated,N,NaN,White shark,"R. Collier, GSAF",2016.09.01,2016.09.01,5981
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,25,Lacerations to right foot,N,15h00,"Bull shark, 6'","News Channel 8, 8/30/16",2016.08.29.b,2016.08.29.b,5980
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,37,Minor injury to ankle,N,14h00,NaN,"News Channel 8, 8/30/16",2016.08.29.a,2016.08.29.a,5979
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,49,Minor injury to ankle,N,16h00,NaN,"First Coast News, 7/25/2016",2016.08.25,2016.08.25,5977
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,21,"No inury, shark & board collided",N,NaN,"Tiger shark, 10'","SUP, 8/9/2015",2016.08.06,2016.08.06,5975
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,22,Big toe bitten,N,NaN,Blacktip shark,"News 965, 8/5/2016",2016.08.04,2016.08.04,5974
22,2016.07.28,28-Jul-16,2016,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,Ian Watkins,M,NaN,"No injury, shark nudged kayak repeatedly",N,NaN,White shark,"ABC Australia, 7/28/2016",2016.07.28,2016.07.28,5971
23,2016.07.27,27-Jul-16,2016,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Warren Sapp,M,43,Laceration to left forearm PROVOKED INCIDENT,N,NaN,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016",2016.07.27,2016.07.27,5970
24,2016.07.26,26-Jul-16,2016,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,18,"No injury. Leg rope severed, knocked off board...",N,12h00,NaN,"Gold Coast Bulletin, 7/28/2016",2016.07.26,2016.07.26,5969
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,31,Laceration to left calf from hooked shark PROV...,N,After noon,"reef shark, 1m","Nine News, 7/20/2016",2016.07.20,2016.07.20,5965
30,2016.07.16.b,16-Jul-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,female,F,9,Minor injury to leg,N,1300,NaN,"Orlando Sentinel, 7/21/2016",2016.07.16.b,2016.07.16.b,5963
31,2016.07.16.a,16-Jul-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",NaN,female,F,11,Minor injury to toes,N,11h00,NaN,"Orlando Sentinel, 7/21/2016",2016.07.16.a,2016.07.16.a,5962
32,2016.07.15,15-Jul-16,2016,Unprovoked,USA,South Carolina,"North Myrtle Beach, Horry County",Swimming,male,M,NaN,Puncture wounds to foot,N,NaN,NaN,"C. Creswell, GSAF",2016.07.15,2016.07.15,5961
35,2016.07.08,08-Jul-16,2016,Boat,USA,California,"Capitola, Santa Cruz County",Fishing for squid,Mark Davis,M,NaN,"No injury. Hull bitten, tooth fragment recovered",N,NaN,White shark,"R. Collier, GSAF",2016.07.08,2016.07.08,5958
37,2016.07.07.a,07-Jul-16,2016,Boat,USA,California,"Off Palos Verdes peninsula, Los Angeles County",Fishing for sharks,24' boat Shark Tagger Occupant Keith Poe,M,NaN,"No injury. Hull bitten, tooth fragment recovered",N,NaN,White shark,"R. Collier, GSAF",2016.07.07.a,2016.07.07.a,5956
38,2016.07.06,06-Jul-16,2016,Unprovoked,USA,Florida,"Melbourne Beach, Brevard County",Swimming,female,F,42,"Buttocks, thigh, left hand & wrist injured",N,14h30 / 15h30,NaN,"Florida Today, 7/6/2016",2016.07.06,2016.07.06,5955
39,2016.07.04,04-Jul-16,2016,Provoked,AUSTRALIA,Queensland,Palm Cove,Fishing,Nathan Oliver,M,34,Right thigh injured by hooked pregnant female ...,N,22h00,Tawny nurse shark,"Cairns Post, 7/9/2016",2016.07.04,2016.07.04,5954
40,2016.06.27,27-Jun-16,2016,Unprovoked,USA,South Carolina,Sullivan's Island,NaN,male,M,35,Minor injury,N,16h20,3' to 4' shark,"C. Creswell, GSAF",2016.06.27,2016.06.27,5953
43,2016.06.23,23-Jun-16,2016,Unprovoked,SOUTH AFRICA,Western Cape Province,Ryspunt,Spearfishing,male,M,43,Injuries to left leg & right hand,N,NaN,White shark,"News 24, 6/23/2016",2016.06.23,2016.06.23,5950
44,2016.06.21.b,21-Jun-16,2016,Unprovoked,USA,South Carolina,"North Myrtle Beach, Horry County",Floating,Jeff Schott,M,42,Lacerations and punctures to foot,N,15h25,3' to 5' shark,"C. Creswell, GSAF",2016.06.21.b,2016.06.21.b,5949
45,2016.06.21.a,21-Jun-16,2016,Unprovoked,USA,Florida,"Pelican Beach Park, Satellite Beach, Brevard C...",Wading,male,M,NaN,Injuries to right calf,N,14h55,NaN,"Florida Today, 6/22/2016",2016.06.21.a,2016.06.21.a,5948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5879,ND-0139,1880-1899,0,Unprovoked,AUSTRALIA,Queensland,Boonooroo,NaN,Lassie,F,15,Foot severed,N,NaN,NaN,"Courier Mail, 6/30/1951",ND-0139,ND-0139,114
5880,ND-0138,Before 1909,0,Unprovoked,AUSTRALIA,Queensland,Moreton Bay,Fell into the water,Lieutenant Hexton,M,NaN,FATAL,Y,NaN,NaN,"Brisbane Courier, 1/28/1909",ND-0138,ND-0138,113
5881,ND-0136,Before 2012,0,Unprovoked,USA,Hawaii,Oahu,Diving,Ken O'Keefe,M,NaN,Minor laceration to hand,N,NaN,"Galapagos shark, 6'",K. O'keefe,ND-0136,ND-0136,112
5884,ND-0133,Before 1908,0,Unprovoked,USA,California,"Monterey, Montery County",Fishing for basking sharks,males,M,NaN,FATAL PROVOKED INCIDENTS,Y,NaN,Basking shark,C.F. Holder,ND-0133,ND-0133,109
5890,ND-0123,Before 2009,0,Unprovoked,USA,Florida,NaN,Shark tagging,Danniell Washington,F,21,Severe abrasion to forearm from captive shark ...,N,18h00,"Blacktip shark, 5'",Daniell Washington,ND-0123,ND-0123,103
5891,ND-0122,Beforer 1994,0,Unprovoked,USA,Florida,"Lost Tree Village, Palm Beach County",Surfing,C.M,M,NaN,Legs bitten,N,NaN,NaN,M. Vorenberg,ND-0122,ND-0122,102
5900,ND-0109,Before 2006,0,Unprovoked,USA,Florida,"Tampa Bay, Hillsborough County",Wade-fishing,Ed Snyder,M,NaN,"No injury, shark rammed his back",N,NaN,NaN,Fishingworld.com,ND-0109,ND-0109,93
5903,ND-0106,Before 1962,0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Murray Bay, Robben Island",Swimming,"male, a mental patient",M,NaN,"FATAL, body not recovered",Y,NaN,NaN,"L.Green, A Decent Fellow doesn't Work, p.225",ND-0106,ND-0106,90
5907,ND.0097,No date,0,Unprovoked,USA,Florida,"Key West, Monroe County",Kitesurfing,Paul Menta,M,NaN,Hand bitten,N,NaN,NaN,Internet,ND.0097,ND.0097,86
5916,ND.0087,"No date, Before 1975",0,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,Carl Bruster,M,19,"Ankle punctured & lacerated, hands abraded PRO...",N,NaN,"Nurse shark, 2.1 m [7']","R. Skocik, p.176",ND.0087,ND.0087,77
5919,ND.0084,"No date, Before 3-Jan-1967",0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Keiskamma River mouth,Crossing river on a raft,Sinsa,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"Whitaker, The Sun, 1/3/1967",ND.0084,ND.0084,74
5920,ND.0083,"No date, Before 1963",0,Unprovoked,USA,California,"LaJolla, San Diego County","Free diving, collecting sand dollars",Charles Fleming,M,NaN,Calf bitten,N,NaN,"Shovelnose guitarfish, adult male","C. Limbaugh in Sharks & Survival, pp.77-78",ND.0083,ND.0083,73
5922,ND.0081,"No date, Before 1963",0,Invalid,USA,Hawaii,"Portlock, Oahu",Diving,Val Valentine,M,NaN,A 4.3 m [14'] shark made threat display. No in...,N,NaN,NaN,B. Sojka & D. Lloyd,ND.0081,ND.0081,71
5923,ND.0078,"No date, Before 1902",0,Unprovoked,USA,Florida,"Mosquito Inlet (Ponce Inlet), Volusia County",Canoeing,male,M,NaN,FATAL,Y,NaN,NaN,"W.H. Gregg, p.19; L. Schultz & M. Malin, ...",ND.0078,ND.0078,70
5926,ND.0074,"No date, After August 1926 and before 1936",0,Unprovoked,AUSTRALIA,Western Australia,Cossack Creek,Pearl diving,Ted Luck,M,NaN,Leg bitten,N,NaN,NaN,"N. Caldwell; T. Peake, GSAF",ND.0074,ND.0074,67
5935,ND.0060,Before 19-Jun-1959,0,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,Leg injured,N,NaN,"White shark, 1,900-lb","B. Walton, Sun (San Bernardino), 6/19/1959",ND.0060,ND.0060,58
5939,ND.0056,Before 1958,0,Unprovoked,USA,Florida,"Palm Beach, Palm Beach County",Standing,Horton Chase,M,NaN,Abrasions & bruises hip to ankle,N,NaN,NaN,"V.M. Coppleson (1956), p.255; R.F. Hutton",ND.0056,ND.0056,54
5967,ND.0025,Before 1927,0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,UNKNOWN,NaN,NaN,H. Capper,ND.0025,ND.0025,26
5969,ND.0023,No date,0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,NaN,Ankle bitten,N,NaN,NaN,"L. Green in Tavern of the Seas, p.182",ND.0023,ND.0023,24
5971,ND.0021,No date,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"L. Green in South African Beachcomber, p.97",ND.0021,ND.0021,22
5972,ND.0020,1920 -1923,0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.241",ND.0020,ND.0020,21
5973,ND.0019,Before 1921,0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,NaN,2-inch lacerations,N,NaN,NaN,"T. Helm, p.219",ND.0019,ND.0019,20
5975,ND.0017,Before 1921,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND.0017,ND.0017,18
5976,ND.0016,Before 1921,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,NaN,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND.0016,ND.0016,17
5979,ND.0013,No date (3 days after preceding incident) & pr...,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND.0013,ND.0013,14
5980,ND.0012,Before 19-Jul-1913,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND.0012,ND.0012,13
5982,ND.0010,Circa 1862,0,Unprovoked,USA,Hawaii,Puna,NaN,A chiefess,F,NaN,Ankle bitten,N,NaN,NaN,Captain W. Young,ND.0010,ND.0010,11
5986,ND.0006,Before 1906,0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND.0006,ND.0006,7
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5

In [209]:
data_country_area.groupby('Year').count().head()

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
Year,,,,,,,,,,,,,,,,,,
0,31,31,31,31,31,29,26,31,31,3,30,31,1,7,31,31,31,31
5,1,1,1,1,1,1,0,1,1,0,1,1,0,0,1,1,1,1
1779,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,1
1788,1,1,1,1,1,1,1,1,0,0,1,1,0,0,1,1,1,1
1791,1,1,1,1,1,1,0,1,1,0,1,1,0,0,1,1,1,1

In [210]:
data_country_area=data_country_area.drop(data_country_area[(data_country_area.Year < 1900)].index)
data_country_area.groupby('Fatal (Y/N)').count()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
Fatal (Y/N),,,,,,,,,,,,,,,,,,
N,6,6,6,6,6,6,6,5,6,6,6,6,3,5,6,6,6,6
N,2548,2548,2548,2548,2548,2548,2525,2402,2525,2347,1766,2548,1628,1651,2541,2548,2548,2548
N,1,1,1,1,1,1,1,0,1,0,0,1,0,0,1,1,1,1
UNKNOWN,45,45,45,45,45,45,44,19,37,24,5,34,9,7,44,45,45,45
Y,473,473,473,473,473,473,468,431,465,455,322,473,266,222,473,473,473,473

In [227]:
if list(data_country_area[data_country_area['Fatal (Y/N)'] == 'N '].index):
    a=list(data_country_area[data_country_area['Fatal (Y/N)'] == 'N '].index)[0]
    data_country_area.loc[a, 'Fatal (Y/N)']='N'

for i in list(data_country_area[data_country_area['Fatal (Y/N)'] == ' N'].index):
    data_country_area.loc[i, 'Fatal (Y/N)']='N'
data_country_area['Fatal (Y/N)'].value_counts()
# data_country_area[data_country_area['Fatal (Y/N)'] == 'N '].index

N          2555
Y           473
UNKNOWN      45
Name: Fatal (Y/N), dtype: int64

In [233]:
data_country_area.notnull().sum()

Case Number               3074
Date                      3074
Year                      3074
Type                      3074
Country                   3074
Area                      3074
Location                  3045
Activity                  2858
Name                      3035
Sex                       2833
Age                       2099
Injury                    3063
Fatal (Y/N)               3073
Time                      1906
Species                   1886
Investigator or Source    3066
Case Number.1             3074
Case Number.2             3074
original order            3074
dtype: int64

In [260]:
# data_country_area=data_country_area.drop(['Name', 'Case Number', 'Case Number.1', 'Case Number.2', 'original order'],axis=1)
data_country_area.head()

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
5,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016"
6,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016"

In [274]:
supra = pygal.maps.world.SupranationalWorld()
supra.add('Asia', [('asia', 1)])
supra.add('Europe', [('europe', 1)])
supra.add('Africa', [('africa', 1)])
supra.add('North america', [('north_america', 1)])
supra.add('South america', [('south_america', 1)])
supra.add('Oceania', [('oceania', 1279)])
supra.add('Antartica', [('antartica', 1)])
supra.render()

NameError: name 'pygal' is not defined