In [47]:
import pandas as pd
import numpy as np

In [141]:
data = pd.read_csv('GSAF5.csv')
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [142]:
null_cols = data.notnull().sum()
null_cols

Case Number               5992
Date                      5992
Year                      5992
Type                      5992
Country                   5949
Area                      5590
Location                  5496
Activity                  5465
Name                      5792
Sex                       5425
Age                       3311
Injury                    5965
Fatal (Y/N)               5973
Time                      2779
Species                   3058
Investigator or Source    5977
pdf                       5992
href formula              5991
href                      5989
Case Number.1             5992
Case Number.2             5992
original order            5992
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [143]:
data=data.drop(['Unnamed: 22','Unnamed: 23', 'pdf', 'href formula', 'href'], axis=1)
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989

In [144]:
data_country=data.groupby('Country').count()
data_country
# print(max_country)

,Case Number,Date,Year,Type,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
Country,,,,,,,,,,,,,,,,,,
PHILIPPINES,1,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1,1,1
TONGA,3,3,3,3,3,3,3,3,3,1,3,3,0,2,3,3,3,3
ADMIRALTY ISLANDS,1,1,1,1,1,1,0,1,1,1,1,1,0,0,1,1,1,1
ALGERIA,1,1,1,1,0,1,1,1,1,0,1,1,0,0,1,1,1,1
AMERICAN SAMOA,3,3,3,3,3,3,3,3,3,3,3,3,2,2,3,3,3,3
ANDAMAN / NICOBAR ISLANDAS,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1
ANGOLA,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1,1,1,1
ANTIGUA,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
ARGENTINA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ARUBA,1,1,1,1,0,1,1,1,1,1,1,1,0,0,1,1,1,1
ASIA?,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1
ATLANTIC OCEAN,16,16,16,16,6,2,15,14,12,5,16,15,1,5,16,16,16,16
AUSTRALIA,1279,1279,1279,1279,1265,1236,1158,1263,1136,686,1273,1278,551,686,1278,1279,1279,1279
AZORES,5,5,5,5,0,3,3,4,3,1,5,5,0,1,5,5,5,5
BAHAMAS,98,98,98,98,75,74,93,98,96,63,98,98,45,68,97,98,98,98
BAHREIN,1,1,1,1,0,0,1,1,1,0,1,1,0,1,1,1,1,1
BANGLADESH,1,1,1,1,1,0,1,0,0,0,1,1,0,0,1,1,1,1
BARBADOS,5,5,5,5,4,4,5,5,4,2,5,5,1,0,5,5,5,5
BAY OF BENGAL,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1
BELIZE,3,3,3,3,1,1,3,3,3,2,3,3,0,2,3,3,3,3
BERMUDA,16,16,16,16,10,11,13,14,12,8,16,15,6,7,15,16,16,16
BRAZIL,102,102,102,102,96,98,93,97,88,57,100,102,39,29,102,102,102,102
BRITISH ISLES,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
BRITISH NEW GUINEA,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,1
BRITISH VIRGIN ISLANDS,1,1,1,1,1,0,1,1,1,1,1,1,0,0,1,1,1,1
BRITISH WEST INDIES,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
BURMA,4,4,4,4,2,2,4,4,4,0,4,4,0,0,4,4,4,4
Between PORTUGAL & INDIA,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1
CANADA,10,10,10,10,10,10,10,10,8,2,10,10,1,8,10,10,10,10
CAPE VERDE,3,3,3,3,3,2,1,3,3,2,3,3,0,2,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ST. MARTIN,1,1,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,1
SUDAN,4,4,4,4,4,2,4,3,4,0,4,4,1,2,4,4,4,4
SUDAN?,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1,1,1
SWEDEN,1,1,1,1,1,1,0,1,1,0,0,1,0,0,1,1,1,1
SYRIA,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1,1,1,1
Seychelles,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
Sierra Leone,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
St Helena,1,1,1,1,0,1,1,1,1,0,1,1,0,0,1,1,1,1
TAIWAN,9,9,9,9,7,8,9,9,9,7,9,9,5,5,9,9,9,9
TANZANIA,8,8,8,8,2,7,8,4,4,2,8,8,1,6,8,8,8,8
TASMAN SEA,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1,1,1
THAILAND,6,6,6,6,4,4,5,6,5,5,6,6,1,3,6,6,6,6
THE BALKANS,1,1,1,1,1,1,1,1,1,0,1,1,1,0,1,1,1,1
TONGA,15,15,15,15,14,11,15,15,14,8,15,15,7,7,15,15,15,15
TRINIDAD & TOBAGO,3,3,3,3,3,2,3,3,3,2,3,3,0,1,3,3,3,3
TUNISIA,3,3,3,3,2,2,3,3,2,0,3,3,0,1,3,3,3,3
TURKEY,12,12,12,12,7,11,10,12,10,2,12,11,1,1,12,12,12,12
TURKS & CAICOS,5,5,5,5,4,3,5,5,4,3,5,5,3,2,5,5,5,5
TUVALU,1,1,1,1,0,1,1,0,0,0,1,1,1,0,1,1,1,1
UNITED ARAB EMIRATES,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
UNITED ARAB EMIRATES (UAE),2,2,2,2,2,2,2,2,2,2,2,2,1,0,2,2,2,2
UNITED KINGDOM,10,10,10,10,10,9,10,9,9,5,10,10,1,7,10,10,10,10
URUGUAY,3,3,3,3,3,3,3,2,2,1,3,3,0,1,3,3,3,3
USA,2116,2116,2116,2116,2113,2074,1991,2087,2016,1436,2111,2114,1308,1206,2109,2116,2116,2116
VANUATU,14,14,14,14,14,14,10,13,13,5,14,14,3,4,14,14,14,14
VENEZUELA,11,11,11,11,7,6,9,11,11,4,11,11,4,4,11,11,11,11
VIETNAM,14,14,14,14,10,11,11,13,14,6,14,14,6,4,14,14,14,14
WESTERN SAMOA,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
YEMEN,2,2,2,2,2,2,2,2,1,0,2,2,1,1,2,2,2,2
YEMEN,7,7,7,7,7,4,7,7,6,2,6,7,1,0,7,7,7,7

In [86]:
# data['Case Number'] = np.where(data['Country']=='USA')
# print([q for i in list(data_country.values) for q in i])

In [145]:
data_country[data_country['Case Number'] >500]

,Case Number,Date,Year,Type,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
Country,,,,,,,,,,,,,,,,,,
AUSTRALIA,1279,1279,1279,1279,1265,1236,1158,1263,1136,686,1273,1278,551,686,1278,1279,1279,1279
SOUTH AFRICA,565,565,565,565,560,557,521,553,501,356,564,565,340,371,563,565,565,565
USA,2116,2116,2116,2116,2113,2074,1991,2087,2016,1436,2111,2114,1308,1206,2109,2116,2116,2116

In [146]:
data_good_country=data[(data['Country'] == 'USA') | (data['Country'] == 'AUSTRALIA') | (data['Country'] == 'SOUTH AFRICA') ]
data_good_country.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989

In [147]:
data_area_usa=data[(data['Country'] == 'USA')].groupby('Area').count()
data_area_usa

,Case Number,Date,Year,Type,Country,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order
Area,,,,,,,,,,,,,,,,,,
New Jersey,1,1,1,1,1,1,0,1,1,0,1,1,0,1,1,1,1,1
North Carolina,1,1,1,1,1,1,0,1,0,0,1,1,0,0,1,1,1,1
Alabama,14,14,14,14,14,14,13,14,13,10,14,14,6,6,14,14,14,14
Alaska,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
California,276,276,276,276,276,275,265,273,259,182,275,276,186,224,276,276,276,276
Connecticut,6,6,6,6,6,6,6,5,4,1,6,6,1,0,6,6,6,6
Delaware,7,7,7,7,7,7,7,7,7,4,7,7,4,5,7,7,7,7
East coast,1,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1,1,1
Florida,990,990,990,990,990,979,931,978,955,787,987,990,682,522,984,990,990,990
Florida,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
Georgia,13,13,13,13,13,12,13,13,13,10,13,13,5,3,13,13,13,13
Guam,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Hawaii,282,282,282,282,282,275,270,279,267,131,282,281,165,165,282,282,282,282
Illinois,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
Johnston Atoll,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1
Kentucky,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1
Louisiana,11,11,11,11,11,10,11,11,10,6,11,11,4,7,11,11,11,11
Maine,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Maryland,7,7,7,7,7,7,7,7,6,4,7,7,2,3,7,7,7,7
Massachusetts,11,11,11,11,11,11,11,11,9,8,11,11,5,8,11,11,11,11
Midway Atoll,1,1,1,1,1,0,1,1,1,0,1,1,0,0,1,1,1,1
Mississippi,5,5,5,5,5,5,5,5,5,3,5,5,0,4,5,5,5,5
Missouri,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
New Jersey,49,49,49,49,49,49,45,46,43,18,49,49,16,20,49,49,49,49
New Mexico,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
New York,27,27,27,27,27,26,26,25,25,12,27,27,14,12,27,27,27,27
New York,3,3,3,3,3,3,3,3,3,0,3,3,0,0,3,3,3,3
North & South Carolina,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1,1,1,1
North Carolina,100,100,100,100,100,99,95,98,93,72,100,100,59,56,100,100,100,100
North Carolina,2,2,2,2,2,2,2,2,2,1,2,2,0,1,2,2,2,2
Oregon,28,28,28,28,28,27,28,28,28,24,28,28,23,24,28,28,28,28
Palmyra Atoll,2,2,2,2,2,0,2,2,2,2,2,2,1,1,2,2,2,2
Pennsylvania,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,1
Puerto Rico,16,16,16,16,16,13,12,16,14,8,16,16,9,4,16,16,16,16
Rhode Island,7,7,7,7,7,6,7,7,5,2,7,7,2,3,7,7,7,7
South Carolina,144,144,144,144,144,139,124,142,140,88,143,143,70,74,144,144,144,144
South Carolina,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Texas,71,71,71,71,71,70,66,70,70,43,71,71,39,36,71,71,71,71
US Virgin Islands,5,5,5,5,5,5,5,5,5,4,5,5,2,4,5,5,5,5
Virginia,19,19,19,19,19,19,19,19,19,8,19,19,6,10,18,19,19,19
Wake Island,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
Washington,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1

In [151]:
print(data_area_usa[data_area_usa['Case Number'] >100])
# data_area_usa=data_area_usa[(data_area_usa['Country'] == 'USA') | (data_area_usa['Country'] == 'AUSTRALIA') | (data['Country'] == 'SOUTH AFRICA') ]

KeyError: 'Area'