# PIPELINESPROJECT

## IMPORTS

In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
data = pd.read_csv('uio_clean.csv')
# data.pickup_datetime.value_counts()

# CLEAN

In [3]:
data=data.drop("store_and_fwd_flag",axis=1)
# data['pickup_datetime']=data.pickup_datetime.str.replace(' .*$', '')
# data['dropoff_datetime']=data.pickup_datetime.str.replace(' .*$', '')
data['pickup_datetime'] = pd.to_datetime(data['pickup_datetime'])
data['dropoff_datetime'] = pd.to_datetime(data['dropoff_datetime'])

In [4]:
#Obtain de principal vendor
vendors=sorted(data.vendor_id.unique())
data=data.drop(data.index[data['vendor_id']!='Quito'])

In [5]:
#Obtain de day of the week
data['day_of_week'] = data['pickup_datetime'].dt.day_name()
data.day_of_week.value_counts()

Friday       5506
Thursday     5247
Monday       5040
Wednesday    4991
Tuesday      4754
Saturday     3897
Sunday       2440
Name: day_of_week, dtype: int64

In [16]:
#Group by day of week
group_day=data.groupby(['day_of_week','pickup_datetime']).count()
# pd.DatetimeIndex(data['pickup_datetime']).month
data.set_index("pickup_datetime").groupby(pd.Grouper(freq='M')).count()

,id,vendor_id,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,dist_meters,wait_sec,day_of_week
pickup_datetime,,,,,,,,,,,
2014-12-31,1,1,1,1,1,1,1,1,1,1,1
2015-01-31,0,0,0,0,0,0,0,0,0,0,0
2015-02-28,0,0,0,0,0,0,0,0,0,0,0
2015-03-31,0,0,0,0,0,0,0,0,0,0,0
2015-04-30,0,0,0,0,0,0,0,0,0,0,0
2015-05-31,0,0,0,0,0,0,0,0,0,0,0
2015-06-30,0,0,0,0,0,0,0,0,0,0,0
2015-07-31,0,0,0,0,0,0,0,0,0,0,0
2015-08-31,0,0,0,0,0,0,0,0,0,0,0
2015-09-30,0,0,0,0,0,0,0,0,0,0,0
2015-10-31,0,0,0,0,0,0,0,0,0,0,0
2015-11-30,0,0,0,0,0,0,0,0,0,0,0
2015-12-31,0,0,0,0,0,0,0,0,0,0,0
2016-01-31,0,0,0,0,0,0,0,0,0,0,0
2016-02-29,0,0,0,0,0,0,0,0,0,0,0
2016-03-31,0,0,0,0,0,0,0,0,0,0,0
2016-04-30,0,0,0,0,0,0,0,0,0,0,0
2016-05-31,3,3,3,3,3,3,3,3,3,3,3
2016-06-30,523,523,523,523,523,523,523,523,523,523,523
2016-07-31,2394,2394,2394,2394,2394,2394,2394,2394,2394,2394,2394
2016-08-31,1875,1875,1875,1875,1875,1875,1875,1875,1875,1875,1875
2016-09-30,2116,2116,2116,2116,2116,2116,2116,2116,2116,2116,2116
2016-10-31,2467,2467,2467,2467,2467,2467,2467,2467,2467,2467,2467
2016-11-30,2298,2298,2298,2298,2298,2298,2298,2298,2298,2298,2298
2016-12-31,2970,2970,2970,2970,2970,2970,2970,2970,2970,2970,2970
2017-01-31,3331,3331,3331,3331,3331,3331,3331,3331,3331,3331,3331
2017-02-28,1219,1219,1219,1219,1219,1219,1219,1219,1219,1219,1219
2017-03-31,2273,2273,2273,2273,2273,2273,2273,2273,2273,2273,2273
2017-04-30,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239,2239
2017-05-31,2708,2708,2708,2708,2708,2708,2708,2708,2708,2708,2708
2017-06-30,2885,2885,2885,2885,2885,2885,2885,2885,2885,2885,2885
2017-07-31,2505,2505,2505,2505,2505,2505,2505,2505,2505,2505,2505
2017-08-31,68,68,68,68,68,68,68,68,68,68,68